*.png
*.pyc
*.obj
reload_service.exe
__pycache__/
a.out
close-*
build/
dist/
*.out
*.err
*.log
mail.config
mail.config.actual
windows_mail.config
Thumbs.db
.DS_Store
client_secret.json
*ORIGINAL*
screens.zip
