#!/bin/sh

[Unit]
Description=Snoopy

[Service]
Type=simple
Restart=always
RestartSec=3
Environment="XAUTHORITY=/home/parallels/.Xauthority"
Environment="DISPLAY=:0"
#ExecStart=%INSTALL_DIR%/dist/snoopy/snoopy
ExecStart=/home/parallels/.pyenv/shims/python /home/parallels/code/snoopy/src/snoopy_linux.py

[Install]
WantedBy=default.target
